# Root-level ignores
node_modules/
*.env

# Next.js (app/)
app/.next/
app/node_modules/
app/.env.local
app/.env.development
app/.env.production
app/out/

# Phoenix (server/)
server/_build/
server/deps/
server/priv/static/
server/node_modules/
server/.env

# General ignores
.DS_Store
*.log
*.swp
.idea/
.vscode/
coverage/
